body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0f1123;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 350px;
  background-color: #1c1f3a;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.header {
  text-align: center;
}

.progress-circle {
  margin-top: 10px;
}

.bar {
  background: #2a2d49;
  border-radius: 10px;
  overflow: hidden;
  height: 6px;
  margin: 10px auto;
  width: 80%;
}

#barFill {
  height: 6px;
  background: #1de9b6;
  width: 0%;
  transition: width 0.3s ease;
}

